body {
    border: 10px solid black;
    border-radius: 5px;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7% 1fr  7%;
    grid-template-areas: 
    "header header"
    "mainContainer mainContainer"
    "footer footer";
    height: 100%;
}
header {
    background-color: #333333;
    padding: 7px;
    text-align: center;
    color: #EFEFEF;
    grid-area: header;
    font-size: 22px;
}

.mainContainer{
    grid-area: mainContainer;

    display: grid;
    grid-template-rows: 65px 1fr;
}
.mainContainer__buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.mainContainer__buttons__Shuffle, .mainContainer__buttons__Sort {
    background-color: #72C3DC;
    padding: 15px 0px;
    width: 90px;
    text-align: center;
    margin: 0px 3px;
    border-radius: 10px;
    box-shadow: 0 4px 1px 0px #2B8EAD;
    color: #EFEFEF;
    font-size: 15px;
}

.mainContainer__content {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    justify-content: space-between;
    position: relative;
}
.box {
    padding: 12px;
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    position: relative;
    transition: all 0.2s linear;
}

footer {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding: 10px;
    grid-area: footer;
}
/* ['6F98A8', '#2B8EAD', '#2F454E', '#2B8EAD', '#2F454E', '#BFBFBF', '#BFBFBF', '#6F98A8', '#2F454E']; */
.box-1 {
    background: linear-gradient(to right,  #6F98A8 0%, #6F98A8 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-2 {
    background: linear-gradient(to right,  #2B8EAD 0%, #2B8EAD 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-3 {
    background: linear-gradient(to right,  #2F454E 0%, #2F454E 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-4 {
    background: linear-gradient(to right,  #2B8EAD 0%, #2B8EAD 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-5 {
    background: linear-gradient(to right,  #2F454E 0%, #2F454E 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-6 {
    background: linear-gradient(to right,  #BFBFBF 0%, #BFBFBF 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-7 {
    background: linear-gradient(to right,  #BFBFBF 0%, #BFBFBF 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-8 {
    background: linear-gradient(to right,  #6F98A8 0%, #6F98A8 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}
.box-9 {
    background: linear-gradient(to right,  #2F454E 0%, #2F454E 2.5%, #EFEFEF 2.5%, #EFEFEF 100%);
}

/* Anything other than mobile */

@media only screen and (min-width: 376px){
    body {
        border: none;
    }
    .main {
        grid-template-rows: 12% 1fr  12%;
    }
    .mainContainer {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "content buttons";
        background-color: #EFEFEF;
    }

    header {
        background-color: #FFFFFF;
        padding: 7px;
        text-align: center;
        color: #000000;
        grid-area: header;
        font-size: 22px;
        border-bottom: 5px solid #BFBFBF;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .mainContainer__content {
        grid-area: content;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0px;
        position: relative;
        color: #FFFFFF;
    }
    .mainContainer__buttons {
        grid-area: buttons;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .mainContainer__buttons__Shuffle, .mainContainer__buttons__Sort {
        background-color: #72C3DC;
        padding: 10px 0px;
        width: 70%;
        text-align: center;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 1px 0px #2B8EAD;
        color: #EFEFEF;
        font-size: 15px;
    }
    .box {
        margin-top: 0px;
        font-size: 5.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s linear;
    }

    footer {
        background-color: #EFEFEF;
    }

    .box-1 {
        background: #6F98A8;
    }
    .box-2 {
        background: #2B8EAD
    }
    .box-3 {
        background: #2F454E;
    }
    .box-4 {
        background: #2B8EAD;
    }
    .box-5 {
        background: #2F454E;
    }
    .box-6 {
        background: #BFBFBF;
    }
    .box-7 {
        background: #BFBFBF;
    }
    .box-8 {
        background: #6F98A8;
    }
    .box-9 {
        background: #2F454E;
    }
}